$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

.navPlusMenu {
  display: flex;
  background-color: #544bd8f3;
  img {
    width: 1.5em;
    float: right;
    position: relative;
    margin: 1em;
  }
  h2 {
    color: white;
    align-self: center;
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: 400;
    padding: 1em;
  }
}

.workspaceSettings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0 0 0;
  border-bottom: 1px solid $purple;
  color: #544bd8f3;
  *:focus {
    outline: none;
  }
  .arrow-icon {
    width: 1.2em;
    margin: 0 2em;
    float: right;
  }
  h3 {
    display: inline;
    font-size: 1.5em;
    font-weight: 300;
    color: $purple;
    text-align: left;
    padding-bottom: 1em;
  }
  .editWorkSpaceName {
    background-color: #3f3d560c;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;

    input {
      width: 60%;
      border-radius: 2em;
      border: solid 0.5px $darkColor;
      padding: 0.5em 1em;
      background-color: white;
      margin: 0.5em;
      color: $purple;
      display: inline;
    }
    .submit__btn {
      background-color: $purple;
      border-radius: 2em;
      border: none;
      color: white;
      font-size: 1em;
      margin: 0.5em 0;
      padding: 0.5em 1em;
      text-align: center;
    }
  }
  .delete__container {
    background-color: #3f3d560c;
    padding: 1em;
    .delete__btn {
      background-color: $darkColor;
      border-radius: 2em;
      border: none;
      color: white;
      font-size: 1em;
      display: block;
      margin: 1em auto 0 auto;
      padding: 0.2em 1em;
      text-align: center;
    }
  }
}
