$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

.navPlusMenu {
  display: flex;
  background-color: #544bd8f3;
  img {
    width: 1.5em;
    float: right;
    position: relative;
    margin: 1em;
  }
  h2 {
    color: white;
    align-self: center;
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: 400;
    padding: 1em;
  }
}

.workspaceSettings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 2em;
  border: solid 0.5px $darkColor;
  color: #544bd8f3;
  margin: 1.5em 1em;
  *:focus {
    outline: none;
  }
  button {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .arrow-icon {
      width: 1.5em;
      margin: 0 1em;
    }
    h3 {
      display: inline;
      font-size: 1.3em;
      font-weight: 400;
      color: $purple;
      margin: 0.5em 1em;
    }
  }
  .editWorkSpaceName {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;

    input {
      width: 70%;
      // border-radius: 2em;
      // border: solid 0.5px $darkColor;
      padding: 0.5em;
      background-color: white;
      margin: 0.5em;
      color: $purple;
      display: inline;
      outline: 0;
      border-width: 0 0 1px;
      border-color: black;
    }
    .submit__btn {
      background-color: $purple;
      border-radius: 2em;
      border: none;
      color: white;
      font-size: 1em;
      margin: 0.5em 0;
      padding: 0.2em 1em;
      text-align: center;
        &:hover,
        :active,
        :focus {
          cursor: pointer;
          transform: scale(1.1, 1.1);
        }
      }
    }
  
  .delete__container {
    padding: 1em;
    .delete__btn {
      background-color: $darkColor;
      border-radius: 2em;
      border: none;
      color: white;
      font-size: 1em;
      display: block;
      margin: 1em auto 0 auto;
      padding: 0.2em 1em;
      text-align: center;
    }
  }
}
