#flyoutSidebarProfile {
  width: 100vw;
  height: 100%;
  background-color: #544bd8;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#flyoutSidebarProfile.hide {
  transform: translate3d(100vw, 0, 0);
}

#flyoutSidebarProfile.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#flyoutSidebarProfile h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutSidebarProfile h2 a:hover {
  text-decoration: underline;
}

.nav-style {
  display: flex;
  background-color: #544bd8;
  justify-content: space-between;
  width: 100;
}
