$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

#flyoutMenu {
  width: 100%;
  height: 100%;
  background-color: #544bd8;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#flyoutMenu.hide {
  transform: translate3d(-100%, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0, 0, 0);
  overflow: hidden auto;
}

#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}



.buttonPlusMenu {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  text-align: left;
  .menu-item {
    padding: 1em 1em 1em 2em;

    .menu-icon {
      width: 1.8em;
      margin-right: 1em;
    }
    span {
      color: white;
      font-size: 1.5em;
      font-weight: 200;
    }
    &:hover {
      background-color: #3f3d562d;
    }
  }
  // h2 {
  //   margin-top: 2em;
  //   margin-left: 1em;
  //   display: flex;
  //   align-items: center;
  //   img {
  //     width: 1em;
  //     float: left;
  //     position: relative;
  //     margin: 0;
  //   }
  // }
}
