$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

#buttonImg {
  margin: 0.5em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
  object-fit: cover;
  &:hover {
    cursor: pointer;
  transform: scale(1.1, 1.1);
  }
}
