#buttonImg {
  margin: 0.5em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
  object-fit: cover;

}

#buttonImg:hover {
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}
