$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

.card__task {
  padding: 0.5em;
  border: 1px solid $darkColor;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 1.2em !important;
    color: $purple !important;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .cardTask__paragraph {
    text-align: left !important;
    font-size: 0.7em;
    color: $darkColor;
    font-weight: 200;
    line-height: 1.5em;
  }
  .arrow-icon {
    width: 1.2em;
    margin: 0 0 0 2em;
  }

  .cardTask_level {
    color: $purple;
  }
  .task_row {
    display: flex;

    .task_item_1 {
      display: flex;
      flex-direction: column;
      background-color: $purple;
      align-items: center;
      justify-content: center;
      border-radius: 0.5em;
      margin: 0.5em 0.2em;
      h6 {
        color: white;
        font-size: 0.7em;
        font-weight: 600;
        padding: 0.4em 0;
        margin: 0;
      }
    }
  }

  .task_item {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
    span {
      color: $darkColor !important;
      background-color: inherit;
      font-size: 0.7em;
      margin: 0.5em;
    }
    h5 {
      color: $purple;
      font-size: 0.7em;
      margin: 0.5em;
      font-weight: 600;
    }
  }
}

.manage__task {
  align-items: flex-end;
  display: flex;
  border-radius: 0.5em;
  margin-top: 1em;
  h5 {
    font-size: 0.8em;
    color: $purple;
  }
  img {
    width: 1.5em;
  }
  
}
.user_task {
  .btn-task {
    background-color: $darkColor;
    border-radius: 0.5em;
    width: 100%;
    color: white;
    margin: 0.5em 0;
    cursor: pointer;
  }
}

.Task-owner {
  width: 3em;
  height: 3em;
  margin-top: 1em;
  border-radius: 50%;
  object-fit: cover;
}
