#flyoutMenu_AddTask {
  width: 100vw;
  height: 100vh;
  background-color: #3f3d56;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: column;
  img {
    width: 2em;
    float: right;
    margin: 2em 1em;
  }
}

#flyoutMenu_AddTask.hide {
  transform: translate3d(100vw, 0, 0);
}

#flyoutMenu_AddTask.show {
  transform: translate3d(-0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu_AddTask h2 a {
  color: white;
  margin-left: 0;
  text-decoration: none;
}

#flyoutMenu_AddTask h2 a:hover {
  text-decoration: underline;
}
