$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

#flyoutSidebar {
  width: 100vw;
  height: 100%;
  background-color: #e2e2e2;
  border: none;
  border-radius: 30px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#flyoutSidebar.hide {
  transform: translate3d(100vw, 0, 0);
}

#flyoutSidebar.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutSidebar h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}


.nav-style {
  display: flex;
  align-items: center;
  background-color: #544bd8;
  justify-content: space-between;
  width: 100;
  padding: 0 1em;
  .profile_name {
    color: white;
  }
}