#flyoutSidebar {
  width: 100vw;
  height: 100%;
  background-color: #b5e3f1;
  border: none;
  border-radius: 30px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#flyoutSidebar.hide {
  transform: translate3d(100vw, 0, 0);
}

#flyoutSidebar.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutSidebar h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutSidebar h2 a:hover {
  text-decoration: underline;
}

.nav-style {
  display: flex;
  background-color: #544bd8;
  justify-content: space-between;
  width: 100;
  .profile_name {
    color: white;
  }
}
